<h1>List products</h1>

<a [routerLink]="'/create'" class="btn btn-info">Create new product</a>
<hr>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">name</th>
    <th scope="col">date</th>
    <th scope="col">category</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products">
    <td>{{p.name}}</td>
    <td>{{p.createDate}}</td>
    <td>{{p.category.name}}</td>
    <td>
      <button type="button" class="btn btn-outline-warning" [routerLink]="'/edit/'+p.id">Edit</button>
      <button type="button" class="btn  btn-outline-danger" (click)="delete(p.id)">Delete</button>
    </td>
    <td>
    </td>
  </tr>
  </tbody>

</table>

